table {
  border-collapse: collapse;
  margin: 20px;
}

td, th {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}

.title-cell {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.header-cell {
  background-color: magenta;
  color: white;
}

.index-cell {
  background-color: cyan;
  width: 1%;
}

.body-cell {
  background-color: white;
}

input[type="number"] {
  width: 100%;
}
